body {
	background-color: #ffffff;
	color: #000000;
	font-family: "Arial", sans serif;
	font-size: 12pt;
}

h2 {
	font-family: "Tahoma", sans serif;
	font-size: 22pt;
}

h3 {
	font-family: "Trebuchet MS", sans serif;
	font-size: 14pt;
}

#header, #nav, #news, #footer {
	display: none;
}